export PROJECT_ID="$(gcloud config get-value project)"
export LOG_TOPIC_ID="detection-log"
export BUCKET_NAME="${PROJECT_ID}-images"
export PROJECT_NUMBER=$(gcloud projects describe ${PROJECT_ID} --format "value(projectNumber)")
